.App {
  text-align: center;
}

.post {
  border: 1px solid #e3e3e3;
  width: 450px;
  margin: 1rem auto;
  padding: 12px;
}

.post__text--content {
  padding: 0 4rem;
  text-align: left;
}

.post__image {
  min-height: 20rem;
  max-height: 20rem;
}

.post__description {
  margin-top: 0;
}
