* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

header {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: 15px;
  letter-spacing: 0.37px;
  color: #3e3e3e;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}
