.container {
  display: flex;
  flex-direction: column;
}

#stopwatch {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 20px;
  display: inline-block;
  width: 180px;
  max-width: 100%;
  align-self: center;
}

button {
  padding: 0 10px;
  height: 50px;
  width: 220px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background-color: #27ae61;
  transition: 0.5s;
  color: white;
  font-weight: bold;
  font-size: 14px;
  min-width: 200px;
  border: 1px solid #e3e3e3;
  align-self: center;
}

button:hover {
  background-color: #187741;
}
